.favourites {

}

.favourites a {
    color: white;
}

.favourites a:visited {
    color: white;
}

.favourites-list {
    display: flex;
    flex-wrap: wrap;
}

.favourites-remove-button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}