.like-button button {
    background: none;
    border: none;
    width: 2em;
    height: 2em;
    padding: 0;
}

.like-button {
    width: 2em;
    cursor: pointer;
}

.selected svg {
    fill: red;
    transition: fill 0.2s ease-out;
}