.NavBar {
    position: sticky;
    display: flex;
    top: 0;
    height: 5em;
    background-color: #111;
    border-bottom: 1px solid #444;
}



.logo {
    display: flex;
    margin: 1em;
    align-items: center;
    font-size: 2em;
    text-shadow: rgba(255, 255, 255, 1) 0px 0px 7px;
    user-select: none;
}

.logo a {
    text-decoration: none;
    color: white;
}

.menu {
    color: white;
    display: flex;
    justify-content: right;
    flex-grow: 1;
    padding-top: 0.8em;
}

.menu ul {
    display: flex;
    gap: 2.5em;
    padding: 1em;
    margin: 0;
}

.menu li {
    display: block;
}

.menu a {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:visited {
    color: #dcdcdc;
}

.menu a:hover {
    color: white;
}

.menu .active {
    color: white;
    font-weight: bold;
    pointer-events: none;
    text-decoration: underline;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 500px) {
    .NavBar {
        flex-direction: column;
        height: 7em;
    }

    .logo, .menu {
        padding-top: 0em;
        margin: 0;
        justify-content: center;
    }

    .logo {
        padding-top: 0.2em;
        font-size: 3em;
    }

    .menu ul {
        padding: 0.5em;
    }
}