.reel-card {

    border: 1px solid #444;
    /* background: black; */
    padding: 0.5em;
    border-radius: 0.5em;
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reel-card .image-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    border: 1px solid grey;
}

.reel-card .heading {
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.reel-card img {
    width: 100%;
    flex-grow: 1;
}