.search {
    /* padding: 1em; */
    /* background: gray; */
    width: 600px;
    height: 3em;
    /* border: 1px solid white;
    border-radius: 1em; */
    display: flex;
    align-items: center;
    gap: 1em;
}

.search label {
    font-size: 1.2em;
    font-weight: bold;
}

.search input[type="text"] {
    background-color: white;
    border: 1px solid black;
    height: 2em;
}

.search button {
    background: green;
    border-radius: 0.5em;
    width: 6em;
    border: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    height: 2.4em;
    padding: 0;
}