.search {
    display: flex;
    align-items: center;
    gap: 1em;
}

.search label {
    font-size: 1.2em;
    font-weight: bold;
}

.search input[type="search"] {
    background-color: white;
    border: 1px solid black;
    height: 2em;
    padding: 1em 0.5em 1em 0.5em;
    width: 100%;
}

.search button {
    background: green;
    border-radius: 0.5em;
    width: 6em;
    border: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    height: 2.4em;
    padding: 0;
}

.search-text-container {
    background-color: red;
    flex-grow: 1;
    max-width: 40em;
}