.App {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: white;

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
    font-size: 12px;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    font-size: 10px;
  }

  @media only screen and (max-width: 500px) {
    font-size: 9px;
  }

  @media only screen and (max-width: 300px) {
    font-size: 8px;
  }

}


main {
  
}